[submodule "staging"]
	path = staging
	url = https://github.com/vingamer234/staging
	branch = main
[submodule "episodes"]
	path = episodes
	url = https://github.com/vingamer234/episodes
	branch = main
