[submodule "staging"]
	path = staging
	url = git@github.com:vingamer234/staging.git
	branch = main
[submodule "episodes"]
	path = episodes
	url = git@github.com:vingamer234/episodes.git
	branch = main
